.App {
  text-align: center;
  height: 1000vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aquamarine;
}

.appSon1,.appSon3{
  height: 15%;
}
.appSon1{
  position: sticky;
  top:0px;
}
.appSon3{
  position: relative;
  top: 100vh; 
}

.appSon2{
  height: 70%;
  

}

.appSon2,.appSon3{
  margin-top: 5px;
}